<br><br>
<div>
    <div class="container">
            <div style="float: right">
                    <div class="form-group">
                        <label for="itemsPerPage">Rooms per page</label>
                        <select id="itemsPerPage" [formControl]="itemsPerPageControl" (change)="setItemsPerPage(this.itemsPerPageControl.value)">
                            <option value="5" >5</option>
                            <option value="10" >10</option>
                            <option value="15" >15</option>
                            <option value="20" >20</option>
                        </select>
                    </div>
                </div>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Number</th>
                        <th scope="col">Name</th>
                        <th scope="col">Capacity</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let room of rooms | paginate: { itemsPerPage: roomsPerPage, currentPage: currentPage }; let i = index">
                        <td>{{ i+1 }}</td>
                        <td>{{ room.number }}</td>
                        <td>{{ room.name }}</td>
                        <td>{{ room.occupiedPlaces }}/{{ room.capacity }}</td>
                        <td><button (click)="editRoom(room.id)" class="btn btn-primary">EDIT</button></td>
                        <td><button (click)="deleteRoom(room.id)" class="btn btn-danger">DELETE</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Pagination controls -->
        <div class="pagination-ctrl">
            <pagination-controls nextLabel="" previousLabel="" (pageChange)="currentPage = $event"></pagination-controls>
        </div>  
        <!-- @@@ -->
        <div class="container">
            <button class="btn btn-success" (click)="addRoom()">ADD NEW ROOM</button>
        </div>
</div>

<ngx-smart-modal #roomModal identifier="roomModal">
        <h1>ADD NEW ROOM</h1>
        <app-add-room></app-add-room>
    
    <button class="btn btn-secondary btn-modal" (click)="roomModal.close()">CLOSE</button>
</ngx-smart-modal>

<ngx-smart-modal #roomEditModal identifier="roomEditModal">
    <h1>EDIT ROOM</h1>

    <app-edit-room *ngIf="this.selectedRoom" [room]="this.selectedRoom" ></app-edit-room>

    <button class="btn btn-secondary btn-modal" (click)="roomEditModal.close()">CLOSE</button>
</ngx-smart-modal>


