<div class="room-designer">
    <svg 
    [attr.width]="this.svgWidth"
    [attr.height]="this.svgHeight" 
    [attr.viewBox]="this.viewBox" 
    id="svgElement"
    (click)="selectDesk($event)"
    (mousemove)="onSvgMouseMove($event)"
    (mouseup)="onSvgMouseUp($event)">

    <g *ngFor="let circle of employeesCircles">
        <circle 
        [attr.cx]="circle.cx"
        [attr.cy]="circle.cy"
        [attr.r]="circle.r"
        fill="black"
        (click)="selectDesk($event, circle.id)"
        (mousedown)="selectDraggableCircle($event, circle.id)">
        </circle>

        <circle 
        *ngIf="this.selectedEmployee && this.selectedEmployee.id === circle.employeeId"
        [attr.cx]="circle.cx"
        [attr.cy]="circle.cy"
        [attr.r]="circle.r"
        fill="green"
        stroke="aquamarine"
        stroke-width="3"
        (mousedown)="selectDraggableCircle($event, circle.id)">
        </circle>
    </g>
    
    <g *ngFor="let desk of desks">

        <!-- front to left -->
        <rect *ngIf="desk.direction === 1" 
        [attr.x]="desk.positionX"
        [attr.y]="desk.positionY"
        [attr.width]="desk.height"
        [attr.height]="desk.width"
        stroke="black"
        stroke-width="5"
        rx="15"
        fill="brown"
        (click)="selectDesk($event, desk.id)"
        (mouseenter)="highlightDesk($event, desk.id)"
        (mouseleave)="unhighlight($event, desk.id)"> 
        </rect>

        <!-- front to top -->
        <rect *ngIf="desk.direction === 2"
        [attr.x]="desk.positionX"
        [attr.y]="desk.positionY"
        [attr.width]="desk.width"
        [attr.height]="desk.height"
        stroke="black"
        stroke-width="5"
        rx="15"
        fill="brown"
        (click)="selectDesk($event, desk.id)"
        (mouseenter)="highlightDesk($event, desk.id)"
        (mouseleave)="unhighlight($event, desk.id)"> 
        </rect>

        <!-- front to right -->
        <rect *ngIf="desk.direction === 3"
        [attr.x]="desk.positionX + 80"
        [attr.y]="desk.positionY"
        [attr.width]="desk.height"
        [attr.height]="desk.width"
        stroke="black"
        stroke-width="5"
        rx="15"
        fill="brown"
        (click)="selectDesk($event, desk.id)"
        (mouseenter)="highlightDesk($event, desk.id)"
        (mouseleave)="unhighlight($event, desk.id)"> 
        </rect>

        <!-- front to bottom -->
        <rect *ngIf="desk.direction === 4"
        [attr.x]="desk.positionX"
        [attr.y]="desk.positionY + 80"
        [attr.width]="desk.width"
        [attr.height]="desk.height"
        stroke="black"
        stroke-width="5"
        rx="15"
        fill="brown"
        (click)="selectDesk($event, desk.id)"
        (mouseenter)="highlightDesk($event, desk.id)"
        (mouseleave)="unhighlight($event, desk.id)"> 
        </rect>

    </g>
    
    <!-- Draw if selectedd draggable circle -->
    <!-- TODO: -->

    <!-- <g *ngFor="let circle of employeesCircles">
        <circle *ngIf="this.selectedDraggableCircle && this.selectedDraggableCircle.id === circle.id"
        [attr.cx]="circle.cx"
        [attr.cy]="circle.cy"
        [attr.r]="circle.r"
        fill="black">
        </circle>

        <circle 
        *ngIf="this.selectedEmployee && this.selectedEmployee.id === circle.employeeId && this.selectedDraggableCircle && this.selectedDraggableCircle.id === circle.id"
        [attr.cx]="circle.cx"
        [attr.cy]="circle.cy"
        [attr.r]="circle.r"
        fill="green"
        stroke="aquamarine"
        stroke-width="3">
        </circle>
    </g> -->

    </svg>
</div>
<div style="margin-top: 5px;">
</div>
<div *ngIf="this.selectedEmployee">
    <p>{{ this.selectedEmployee.firstName }} {{ this.selectedEmployee.lastName }}</p>
    <p>{{ this.selectedEmployee.position.name }}</p>
    <p>{{ this.selectedEmployee.salary | currency }}</p>
    <div class="form-group">
        <button class="btn btn-danger" (click)="removeEmployee()">REMOVE</button>
    </div>
</div>
<div *ngIf="!this.selectedEmployee && this.selectedDesk">
    <p>Puste biurko</p>
</div>