

    <div class="card-header">
        <h3>Room usage</h3>
        <div class="room-number-form">
            <form [formGroup]="roomNumberForm">
                <div class="form-group">
                    <select formControlName="roomNumber" (change)="setRoomNumber(f.roomNumber.value)" size="1" [compareWith]="compareRoomsId">
                        <option *ngFor="let room of rooms" [ngValue]="room.id" >{{ room.number }}</option>
                    </select>
                </div>
            </form>
        </div>    
    </div>
    <div class="chart" (click)="changeChartType()">
        <div style="display: block">
        <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
        </canvas>
        </div>
    </div>