.btn-modal {
    margin-top: 5px;
}

.btn-sort {
    margin-bottom: 10px;
}

// .filter {
//     border: 1px solid black;
// }

// .container {
//     border: 1px solid black;
// }

.filter-box {
    margin-top: 10px;
    margin-bottom: 10px;
}

.pagination-ctrl {
    margin: 5px auto;
}