<br><br>

<div class="container">

<button class="btn btn-primary btn-sort" (click)="openOrCloseFilter()">FILTER</button>

<div *ngIf="isFilterOpen" class="filter-box"> 
    <app-employees-filter (destroyEvent)="getValue($event)" [filterFormValueInput]="this.filterValue" (filterEvent)="setFilteredEmployees($event)"></app-employees-filter>
</div>  
<div class="container">
    <table class="table table-striped">
        <thead class="thead-dark">
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Position</th>
            <th scope="col">Room</th>
            <th scope="col">Salary</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees | paginate: { itemsPerPage: employeesPerPage, currentPage: currentPage }">
                <td>{{ employee.id }}</td>
                <td>{{ employee.firstName }}</td>
                <td>{{ employee.lastName }}</td>
                <td>{{ employee.position.name }}</td>
                <td>{{ employee.room.number }}</td>
                <td>{{ employee.salary | currency }}</td>
                <td><button class="btn btn-primary">EDIT</button></td>
                <td><button (click)="deleteEmployee(employee.id)" class="btn btn-danger">DELETE</button></td>
            </tr>
        </tbody>
    </table>
    <!-- Pagination controls -->
    <div class="pagination-ctrl">
        <pagination-controls nextLabel="" previousLabel="" (pageChange)="currentPage = $event"></pagination-controls>
    </div>  
    <!-- @@@ -->
    <div>
        <button class="btn btn-success" (click)="employeeModal.open()">ADD NEW EMPLOYEE</button>
    </div>
</div>

<ngx-smart-modal #employeeModal identifier="employeeModal">
    <h1>ADD NEW EMPLOYEE</h1>
    <app-add-employee></app-add-employee>

    <button class="btn btn-secondary btn-modal" (click)="employeeModal.close()">CLOSE</button>
</ngx-smart-modal>

<!-- <ngx-smart-modal>
    <h1>EDIT EMPLOYEE</h1>
</ngx-smart-modal> -->



<br>
<button class="btn btn-info" (click)="sortuj()">SORTUJ</button>
<button class="btn btn-warn" (click)="showMessage()">SHOW</button>
