<mat-drawer-container class="example" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <nav>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/employees">Employees</a></li>
                <li><a routerLink="/rooms">Rooms</a>|</li>
                <li><a routerLink="/positions">Positions</a></li>
            </ul>             
        </nav>
    </mat-drawer>
    <button type="button" class="btn btn-primary btn-sidenav" mat-button (click)="drawer.toggle()">
            Toggle sidenav
    </button>
    

    <div class="container">
      <router-outlet></router-outlet>
    </div>

</mat-drawer-container>