<h1>WELCOME TO EMPLOYEE MANAGER</h1>

<div class="container container-margin">
    
    <div class="row card-margin">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3>General info</h3>
                </div>

                <div *ngIf="this.generalInfo" class="content">
                    W firmie zatrudnionych jest {{ generalInfo.employeesNumber }} pracowników.
                    Najlepiej zarabiającym pracownikiem jest <b>{{ generalInfo.bestPaidEmployee.firstName }} {{ generalInfo.bestPaidEmployee.lastName }}
                        ({{ generalInfo.bestPaidEmployee.position.name }})</b> z pensją wynoszącą {{ generalInfo.bestPaidEmployee.salary | currency }} miesięcznie.
                    Najgorzej zarabiającym pracownikiem jest <b>{{ generalInfo.worstPaidEmployee.firstName }} {{ generalInfo.worstPaidEmployee.lastName }}
                            ({{ generalInfo.worstPaidEmployee.position.name }})</b> z pensją wynoszącą {{ generalInfo.worstPaidEmployee.salary | currency }} miesięcznie.
                            Firma wydaje łącznie {{ generalInfo.sumSalary | currency }} na pensje dla pracowników, średnia pensja wynosi {{ generalInfo.avgSalary | currency }}
                </div>
            </div>
        </div>  
    </div>


    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card card-chart">
                <!-- <div *ngIf="this.rooms && this.firstLoad === 1"> {{ this.loadGeneralInfo(this.rooms[0].id) }}</div> -->
                <app-room-usage-chart *ngIf="this.generalInfo && this.rooms" [generalInfo]="this.generalInfo" [rooms]="this.rooms" (changeRoomNumberEvent)="getRoomNumberFromEvent($event)"></app-room-usage-chart>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card card-chart">
                <app-employees-per-position-chart *ngIf="this.generalInfo" [generalInfo]="this.generalInfo"></app-employees-per-position-chart>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card card-chart">
                <app-avg-salary-per-position-chart *ngIf="this.generalInfo" [generalInfo]="this.generalInfo"></app-avg-salary-per-position-chart>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card card-chart">
                <app-salary-per-position-chart *ngIf="this.generalInfo" [generalInfo]="this.generalInfo"></app-salary-per-position-chart>
            </div>
        </div>
    </div>
    

</div>
