<h1>WELCOME TO EMPLOYEE MANAGER</h1>

<div class="container">
    
        <div>
            <div>
                <div style="display: block">
                <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [plugins]="barChartPlugins"
                    [legend]="barChartLegend"
                    [chartType]="barChartType">
                </canvas>
                </div>
            </div>
        </div>
    
    <br>
    <button class="btn btn-info" (click)="changeChartType()">TRY IT</button>
</div>
