.card-chart {
    min-height: 100%;
}

.card-margin {
    margin-bottom: 5vh;
}

.container-margin {
    margin-bottom: 5vh;
}

.gen-info-table {
    display: block;
    margin: 0 auto;
}

.content {
    margin: 0 auto;
    text-align: center;
}