    <div class="card">
        <article class="card-group-item">
            <!-- Form -->
            <form [formGroup]="employeesFilterForm" (ngSubmit)="onClickFilter()">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label for="firstName">First name</label>
                                <input type="text" class="form-control" id="firstName" formControlName="firstName">
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last name</label>
                                <input type="text" class="form-control" id="lastName" formControlName="lastName">
                            </div>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="position">Position</label>
                                        <!-- <input type="text" class="form-control" id="position"> -->
                                        <select id="position" class="form-control" formControlName="position" [compareWith]="comparePositions">
                                            <option [ngValue]="null"></option>
                                            <option *ngFor="let position of positions" [ngValue]="position">{{ position.name }}</option>                 
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="room">Room</label>
                                        <!-- <input type="text" class="form-control" id="room"> -->
                                        <select id="room" class="form-control" formControlName="room" [compareWith]="compareRooms"> 
                                                <option [ngValue]="null"></option>
                                                <option *ngFor="let room of rooms" [ngValue]="room">{{ room.number }}</option>
                                        </select>
                                    </div>
                                </div>                                                                
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="minSalary">Minimal salary</label>
                                        <input type="text" class="form-control" id="minSalary" formControlName="minSalary">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="maxSalary">Maximal salary</label>
                                        <input type="text" class="form-control" id="maxSalary" formControlName="maxSalary">
                                    </div>
                                </div>                                  
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <button type="button" class="btn btn-warning filter-btn" (click)="onClickReset()">RESET</button>
                        </div>
                        <div class="col-12 col-md-6">
                            <button type="submit" class="btn btn-success filter-btn">FILTER</button>
                        </div>
                    </div>
                </div>
            </form>          
        </article>
    </div> 
    
