<div>
    <form [formGroup]="positionGroup" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Position name</label>
            <input type="text" class="form-control" id="name" formControlname="name">
            <!-- Validation alerts -->
        </div>
        <div class="form-group">
            <label for="minWage">Minimal wage</label>
            <input type="text" class="form-control" id="minWage" formControlName="minWage">
            <!-- Validation alerts -->
        </div>
        <div class="form-group">
            <label for="maxWage">Maximal wage</label>
            <input type="text" class="form-control" id="maxWage" formControlName="maxWage">
            <!-- Validation alerts -->
        </div>
        <button type="submit" [disabled]="this.positionForm.invalid" class="btn btn-success">ADD</button>
    </form>
</div>